body.page-template-wp-custom-template-full-wide-no-hero,
body.page-template-full-wide-page {
	.is-layout-constrained > :where(:not(.alignleft):not(.alignright):not(.alignfull)) {
		max-width: none;
	}

	.hero-image-main {
		position: relative;
		margin-top: 0px;
		margin-bottom: 50px;

		.main-page-title {
			position: absolute;
			color: white;
			font-weight: bold;
			display: block;
			top: 50%;
			left: 50%;
			transform: translate( -50%, -50% );
			text-align: center;
			background-color: rgba( 255,255,255,.6);
			border-radius: 20px;
			padding: 20px;
			margin-top: 0px;
			
			h1 {
				color: black;
			}

			@media (max-width: 900px ){
				img {
					height: 100px;
					width: auto;
				}
				h1 {
					font-size: 28px;
				}
			}
			@media (max-width: 710px ){
				text-align: left;
				width: 311px;
				.wp-block-site-logo {
					display: inline-block;
					vertical-align: top;
					width: 100px;
				}
				h1 {
					display: inline-block;
					vertical-align: top;
					font-size: 28px;
					width: calc( 100% - 105px );
				}
			}
		}
	}	
	.wp-block-post-content {
		max-width: 1211px;
		margin: auto;
	}
	.wp-block-columns {
		max-width: 100%;
		width: 100%;
		margin-left: 0px !important;
		margin-right: 0px !important;
		gap: 5rem;
	}
}

body.page-template-wp-custom-template-full-wide-no-hero {
	.hero-image-main .main-page-title {
		position: static;
    	transform: none;
    	border-radius: 0px;
    	margin-bottom: 50px;
    }
}
